.contaner {
  display: block;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
}

.button {
  margin-left: 20px;
  margin-right: 20px;
}

.span {
  display: inline-block;
  margin-left: 10px;
}
